<h1>Votaciones</h1>

<div class="row">
    <div class="col">
        <%= form_with(method: :get, class: 'mb-3 w-100') do |formulario| %>
            <%= formulario.text_field :buscar %>
            <%= formulario.submit "Buscar" %>
        <% end %>
    </div>
</div>

<div class="row">

<% @restaurantes.each do |r| %>
    <div class="col">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <div class="card-title"><%= r.nombre %></div>
                <div class="row">
                    <div class="col text-center">
                        <% @puntajes.each do |p| %>
                            <%= link_to votar_restaurante_path(r, p), method: :post, class: 'btn' do %>
                                <%= p.tipo %>
                                <%= r.puntajes_restaurantes.select{ |pr| pr.puntaje.eql? p }.count %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

</div>