<!-- Los parciales deberían funcionar de manera independiente -->
<!-- Deberían manejar sus propias variables locales -->
<!-- Entonces no deberíamos tener variables con @ -->
<%= form_with(model: base_usuario) do |formulario| %>
    <div class="mb-3">
        <%= formulario.label      :nombre_usuario, class: 'form-label'%>
        <%= formulario.text_field :nombre_usuario, class: 'form-control' %>
        <% if base_usuario.errors[:nombre_usuario].any? %>
            <div class="alert alert-danger" role="alert">
                <%= base_usuario.errors[:nombre_usuario].first %>
            </div>
        <% end %>
    </div>
    
    <div class="mb-3">
        <%= formulario.label          :password, class: 'form-label' %>
        <%= formulario.password_field :password, class: 'form-control' %>
        <% if base_usuario.errors[:password].any? %>
            <div class="alert alert-danger" role="alert">
                <%= base_usuario.errors[:password].first %>
            </div>
        <% end %>
    </div>
    
    <div class="mb-3">
        <%= formulario.label          :password_confirmation, class: 'form-label' %>
        <%= formulario.password_field :password_confirmation, class: 'form-control' %>
        <% if base_usuario.errors[:password_confirmation].any? %>
            <div class="alert alert-danger" role="alert">
                <%= base_usuario.errors[:password_confirmation].first %>
            </div>
        <% end %>
    </div>


    <%= formulario.submit %>
<% end %>