<h1>Registro</h1>

<%= form_with(model: @usuario) do |formulario| %>
    <div class="mb-3">
        <%= formulario.label      :nombre_usuario, class: 'form-label'%>
        <%= formulario.text_field :nombre_usuario, class: 'form-control' %>
    </div>
    
    <div class="mb-3">
        <%= formulario.label          :password, class: 'form-label' %>
        <%= formulario.password_field :password, class: 'form-control' %>
    </div>
    
    <div class="mb-3">
        <%= formulario.label          :password_confirmation, class: 'form-label' %>
        <%= formulario.password_field :password_confirmation, class: 'form-control' %>
    </div>


    <%= formulario.submit %>
<% end %>